.podsetnik-page {
  min-height: 100vh;
  background-image: url('../assets/slikaHome.webp'); /* koristi tvoju sliku */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
}

.podsetnik-form {
  background: rgba(255, 255, 255, 0.5); /* 50% providno belo */
  padding: 40px;
  border-radius: 0; /* OŠTRE ivice */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 90%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.podsetnik-form h1 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  color: #2e2e2e;
  margin-bottom: 20px;
}

.podsetnik-form input,
.podsetnik-form textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.podsetnik-form button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #b88c7d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.podsetnik-form button:hover {
  background-color: #f7b79d;
}
.nazad-dugme {
  margin-top: 0.5rem;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: 2px solid #b88c7d;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nazad-dugme:hover {
  background-color: #f0e6e2;
}
